# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
DB_USER= DBMS11302
DB_PASSWORD= ilovedbms
DB_HOST=superidol.c9i82eygu8mk.ap-southeast-2.rds.amazonaws.com
DB_PORT= 3306
DB_NAME=superidol_DB
# Logs
*.log

# Frontend
node_modules/
dist/
.DS_Store 